{% extends 'base.html.twig' %}

{% block body %}
  <h3></h3>
  <div style="width: 100%; text-align: center;"><img src="{{ asset('images/frontend/welcome_admin2.png') }}" width="200px" /></div>
{% endblock %}
