###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# IDE and OS files
.*
.DS_Store
/.project
/.settings

# Application specific

# soft link to storage (e.g. SDS
/public/assets

# import data etc.
/data/logs
/data/tmp
/data/*.xml
/data/*.csv
/data/mysql_dump
/data/heidICON
/data/import

# bots
robots.txt

# backup
*.php~

